<!DOCTYPE html>
<html>
<head>
    <title>Event details</title>
</head>
<body>
	<h1>Event detail:</h1>
    <ul>
    	<li>Name:{{ detail.name }} 
    	<li>Description:{{ detail.description }} </li>
 		<li>Location:{{ detail.location }} </li>
 		<li>Category:{{ detail.category }} </li>
   	</ul>

   	<h1>related runs:</h1>
   	<ul>
    	{% for run in runs %}
    		<li>ID:{{ run.id }} </li>
	    	<li>Event:{{ run.event }} </li>
	    	<li>Happens:{{ run.happens }} </li>
	 		<li>Seats available:{{ run.seats_available }} </li>
	 		<li>Price:{{ run.price }} </li>
	 		<br />
    	{% endfor %}
    </ul>

    <p><a href="/events/">Back to events</a></p>

</body>
</html>