<!DOCTYPE html>
<html>
<head>
    <title>Event Listing</title>
</head>
<body>
    <ul>
    {% for event in events %}
    <li>{{ event.name }} <a href="/events/detail/{{event.id}}/">details</a> </li>
    {% endfor %}
    </ul>

</body>
</html>